<!DOCTYPE html>
<html lang="en">

<head>
   <% include /templates/head %>
</head>

<body>
    <div id="wrapper">
        <% include /templates/header %>  
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"></h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->     
    </div>
    <% include /templates/footer %>
    
</body>

</html>
